<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Services Api
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-item *ngIf="categories.length == 0"> 
      Sin datos
    </ion-item>
  
    <ion-card *ngFor="let item of categories; let i = index">
      <ion-card-content (click)="action(item, i)">
        <ion-card-title>
          {{item.name}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  
    <ion-fab right bottom>
      <button ion-fab color="danger" (click)="getModal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </ion-content>
  